doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello Docker

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Hello Docker
        img(src='images/docker-logo.jpg')
        h3 Okke van 't verlaat @ CGI

      section
        h2 Welk probleem willen we oplossen?

      section
        h2 101+ mogelijke development stacks
        ul
          li 
          li httpd + static files 
          li ruby on rails + mysql + memcache
          li tomcat + jre8 + cassandra
          li play + mongodb + activemq
          li node.js + redis
          li ....

      section
        h2 101+ mogelijke runtime omgevingen
        ul
          li 
          li lokale machine
          li test omgeving
          li geclusterde acceptatie omgeving
          li productie omgeving ergens in de cloud
          li ....

      section
        h2 Matrix from hell
        img(src='images/matrix-from-hell.png' height=300 width=600)

      section
        h2 Hallo Container
        img(src='images/container.png' height=300 width=600)

      section
        h2 Vanuit 'Ops' perspectief (de buitenkant)
        img(src='images/container2.png' height=300 width=600)

      section
        h2 Vanuit 'Dev' perspectief
        br
        img(src='images/container3.jpg' height=300 width=600)

      section
        h2 Een paar belangrijke concepten
        ul
          li 
          li Alles is weggooibaar
          li VM's vs. Containers
          li Images &#8594; Container
          li Images repositories
          li ....

      section
        h2 En nog paar belangrijke concepten
        ul
          li 
          li Volumes (data delen)
          li Networking
          li ....

      section
        h2 Start a container
        pre
          code.language-javascript.
            docker run -it ubuntu

      section
        h2 Start a container and run a command inside
        pre
          code.language-javascript.
            docker run ubuntu ps
        pre
          i PID TTY          TIME CMD
          br
          i   1 ?        00:00:00 ps


    script(src='build/build.js')
